version: "3.2"
services:
  api:
    image: flask_api
    container_name: ml_api
    build:
      context: ./api
      target: build
    ports:
      - "80:5000"
    environment:
      - FLASK_APP=app
      - FLASK_DEBUG=1
      - FLASK_ENV=development
    depends_on:
      - redis
      - model
    volumes:
      - ./api:/src/api:delegated  # Monta el directorio local como volumen para la API

  redis:
    image: redis:6.2.6

  model:
    image: ml_service
    build:
      context: ./model
      target: build
    depends_on:
      - redis
    volumes:
      - ./model:/src/model:delegated  # Monta el directorio local como volumen para el modelo
